body{
    
 background-color: hsl(212, 45%, 89%);
}
*{
    font-family: 'Outfit', sans-serif;
}

/*media qurey for the mobiles or tablet.*/
@media screen and (max-width:800px) {
    img{
        display: block;
    }
    .container{
        width: 60vw;
        height: 100vw;
        margin: 15vh auto;
        padding: 1em;
        border: 1px solid white;
        background-color: white;
        border-radius: 10px;
    }

    .body{
        width: 100vw;
        height: 100em;
       
       
    }
    
  
    .qr{
        width: 40vw;
        padding:auto;
        margin: auto;
        border-radius: 10px;
    }
    .container h2{
        font-weight: 700;
    }
    .container p{
        font-weight: 400;
    }
}

@media screen and (min-width:900px){
    .container{
        width: 20vw;
        border: 1px solid white;
        border-radius: 20px;
        background-color: white;
        margin: 100px auto;
        padding: 20px;
    }

    .qr{
        display: block;
        width: 20vw;
        margin: 15px auto;
        border-radius: 20px;
        margin-bottom: 35px;
    }
}